.LeftBox2 {
  background-color: red;
  padding: 1rem;
  border: 2px solid #e4cbcc;
  border-radius: 50px 20px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  border-radius: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
